   <button type="button" class="btn btn-primary btn-large" ng-show="!logged" ng-disabled="!facebookReady" ng-click="IntentLogin()">Login with Facebook</button>
   <button type="button" class="btn btn-danger btn-large" ng-show="logged" ng-disabled="!facebookReady" ng-click="logout()">Logout</button>

<div>

  From:<br/>
  <ul>
    <li ng-repeat="city in cities">{{city.name}}</li>
  </ul>
  <input type="text" name="from" ng-model="from" ng-minlength="3">
  To:<br/>
  <ul>
    <li ng-repeat="city in cities">{{city.name}}</li>
  </ul>
  <input type="text" name="to" ng-model="to" ng-minlength="3">
</div>

<button ng-click="searchBuddy(from, to)">Go!</button>
<ul>
  <li ng-repeat="buddy in buddies">{{buddy.name}}</li>
</ul>